.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  padding: 30px;
  background-color: var(--color-ref-secondary30);
  border-radius: 10px;
}
.form h1 {
  text-align: center;
}
.inpt {
  padding: 10px 20px;
  border: none;
  background-color: var(--color-ref-secondary15);
  border-radius: 5px;
  color: var(--color-ref-secondary100);
  font-weight: bold;
}
.inpt::placeholder {
  color: var(--color-ref-secondary60);
  letter-spacing: 1px;
}
.btn {
  border-radius: 5px;
  padding: 10px 0;
  border: none;
  background-color: var(--color-ref-tertiary50);
  color: var(--color-ref-secondary100);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  opacity: 0.8;
}
.btn:hover {
  opacity: 1;
}
.err {
  text-align: center;
  color: var(--color-negative);
}
