.container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
.btn {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  color: var(--color-ref-primary100);
  background-color: var(--color-ref-tertiary40);
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.btn:hover {
  filter: brightness(120%);
}
